alembic
certifi
charset-normalizer
cma
colorlog
contourpy
cycler
filelock
fonttools
fsspec
GPyReg
gpytorch
idna
iniconfig
ioh
Jinja2
joblib
kiwisolver
linear_operator
Mako
MarkupSafe
matplotlib
mealpy
mpmath
networkx
numdifftools
numpy < 2
opfunu
optuna
packaging
pandas
pdfo
pillow
pip-chill
pluggy
pyaml
PyBADS
Pygments
PyNomadBBO
pyparsing
pyswarm
pytest
pytest-mock
pytest-rerunfailures
python-dateutil
pytz
PyYAML
requests
scikit-learn
scikit-optimize
scipy
seaborn
six
SQLAlchemy
sympy
tabulate
threadpoolctl
torch
torchvision
tqdm
turbo @ git+https://github.com/uber-research/TuRBO.git@de0db39f481d9505bb3610b7b7aa0ebf7702e4a5
typing_extensions
tzdata
urllib3
