alembic==1.17.2
certifi==2026.2.25
charset-normalizer==3.4.7
cma==4.4.1
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
filelock==3.20.0
fonttools==4.61.0
fsspec==2025.12.0
GPyReg==1.0.4
gpytorch==1.15.2
idna==3.11
iniconfig==2.3.0
ioh==0.3.22
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
linear_operator==0.6.1
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.7
mealpy==3.0.3
mpmath==1.3.0
networkx==3.6
numdifftools==0.9.42
numpy==1.26.0
opfunu==1.0.4
optuna==4.6.0
packaging==25.0
pandas==2.3.3
pdfo==2.2.0
pillow==12.0.0
pip-chill==1.0.5
pluggy==1.6.0
pyaml==25.7.0
PyBADS==1.0.6
Pygments==2.20.0
PyNomadBBO==4.5.1
pyparsing==3.2.5
pyswarm==0.6
pytest==9.0.3
pytest-mock==3.15.1
pytest-rerunfailures==16.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.33.1
scikit-learn==1.7.2
scikit-optimize==0.10.2
scipy==1.16.3
seaborn==0.13.2
six==1.17.0
SQLAlchemy==2.0.44
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.9.1
torchvision==0.24.1
tqdm==4.67.1
turbo @ git+https://github.com/uber-research/TuRBO.git@de0db39f481d9505bb3610b7b7aa0ebf7702e4a5
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.3
